.interactive-canvas canvas {
  background-color: black;
}

.interactive-canvas {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.canvas-button {
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.interactive-canvas:hover .canvas-button {
  opacity: 0.75;
  transition: all 0.25s ease-in;
}
