.interactive-canvas canvas {
  background-color: black;
}

.interactive-canvas {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.canvas-button {
  position: absolute;
  display: none;
  opacity: 0;
}

.interactive-canvas:hover .canvas-button {
  display: block;
  animation: canvas-button-fadein 0.25s forwards;
}

@keyframes canvas-button-fadein {
  100% {
    opacity: 0.75;
  }
}
