.comment {
  position: relative;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #656565;

  width: 75%;
  max-width: 750px;

  overflow-wrap: break-word;
}

.comment-button {
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.comment:hover .comment-button {
  opacity: 1;
  transition: all 0.25s ease-in;
}

@keyframes comment-button-fadein {
  100% {
    opacity: 1;
  }
}

.create-comment {
  border-color: #0d6efd;
  color: #0d6efd;
  transition: all 0.25s ease-out;
}

.create-comment:hover {
  background-color: #0d6efd;
  color: #ffffff;
  transition: all 0.25s ease-in;
}
