.comment {
  position: relative;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;

  width: 75%;
  max-width: 750px;
}

.comment-button {
  position: absolute;
  display: none;
  opacity: 0;
}

.comment:hover .comment-button {
  display: block;
  animation: comment-button-fadein 0.25s forwards;
}

@keyframes comment-button-fadein {
  100% {
    opacity: 0.75;
  }
}
